<div class="event_left">
    <a ui-sref="app.admin.event.applications"><h2>Applications</h2></a>
    <table>
        <tbody ng-repeat="application in appListCtrl.applications">
            <tr><td>
                    <a ui-sref="app.admin.event.appName({appName:application.name})" ng-click="appListCtrl.setCurrentApp(application)"><h4> {{application.name}} </h4></a>
            </td></tr>
            <tr ng-repeat="resource in appListCtrl.resources">
                <td><a ui-sref="app.admin.event.resName({appName:application.name,resName:resource.name})" ng-show="appListCtrl.isCurrentApp(application) && application.expand"> {{resource.name}} </a></td>
            </tr>
        </tbody>
    </table>
</div>

